

// ############# Section - ContenedorMangaDetail #############
.contenedorMangaDetail {
    margin: 0px 10% 0px 48px;
    display: flex;
    align-items: center;
}

.contNotas {
    width: 205px;
    margin-right: 20px;
    height: 455px;
    background-color: rgba(53, 1, 1, 0.5);
    justify-content: center;
    align-items: center;
    p {
        font-size: $fontZise3;
        font-weight: 700;
        line-height: 29px;
    }
}

.contNotaText1 {
    padding-left: 20px;
}

.contNotaText2 {
    margin-bottom: 20px;
}

.contNotaMyAL, .contNotaFan {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        position: absolute;
        font-size: 40px;
        line-height: 48px;
        font-weight: 700;
    }
}

.contNotaFan {
    p {
        padding-bottom: 20px;
    }
}

.MangaDetail {
    height: 292px;
    width: 75%;
    li {margin-bottom: 14px;}
    h3 {margin-bottom: 20px;}
    .descripcion {width: 80%;}
}

// ############# Section - CapitulosManga #############
.capitulosManga {
    background-color: $color2;
    padding: 40px 10% 55px 48px;
}

// ========= Idiomas =========
.IdiomasManga {
    width: 200px;
    margin-top: 6px;
    margin-right: 28px;
    h2 {
        font-size: $fontZise4;
        font-weight: 700;
        line-height: 39px;
        padding-left: 10px;
        margin-bottom: 29px;
    }
    button {
        height: 48px;
        width: 100%;
        display: flex;
        align-items: center;
        background: linear-gradient(100.35deg, #FF5800 21.56%, #350101 82.98%);
        opacity: 0.35;
        transition: all 0.3s;
        color: $color1;
        border: 0;
        img {
            height: 32px;
            width: 42.6px;
            margin: 0 16px;
        }
        p {font-size: $fontZise2;}
        &:hover, &:focus {
            opacity: 1;
        }
    }
}


// ========= capitulosMangaContenedor =========

.volverCapContenedor {
    align-items: center;
    margin-bottom: 23px;
    
    h2 {
        font-size: $fontZise4;
        font-weight: 700;
        line-height: 39px;
        margin-bottom: 0;
        margin-right: 32px;
    }
}

.volverButton {
    border-radius: 8px;
    background-color: transparent;
    color: $color1;
    border: 3px solid $color4;
    font-size: $fontZise2;
    padding: 8px 15px;
    transition: all 0.3s;
    &:hover {
        background-color: $color4;
    }
}

// ========= listaCapitulos =========
.listaCapitulos {
    height: 338px;
    width: 88%;
    padding: 20px 38px;
    border: 3px solid $color4;
    border-radius: 16px;
    overflow-y: scroll;
    // ========= listaCapitulos scrollbar =========
    &::-webkit-scrollbar-button {
        background-color: #FFFFFF33;
        width: 32px;
        height: 48px;
        &:vertical{
            background-position: center;
            background-repeat: no-repeat;

            &:start {
                border-radius: 40px 40px 0 0;
                background-image: linear-gradient(90deg, $color2 0%, $color2 17%,#ffffff12 17.1%, #FFFFFF12 83%,$color2 83.1%, $color2 100%),url(../media/scroll/flechaUp.png);}
            &:end {
                border-radius: 0 0 40px 40px;
                background-image: linear-gradient(90deg, $color2 0%, $color2 17%,#FFFFFF12 17.1%, #FFFFFF12 83%,$color2 83.1%, $color2 100%),url(../media/scroll/flechaDown.png);}
        }
    }
    &::-webkit-scrollbar { width: 48px;}
    &::-webkit-scrollbar-track {background: linear-gradient(90deg, $color2 0%, $color2 17%,#FFFFFF33 17.1%, #FFFFFF33 83%,$color2 83.1%, $color2 100%);}
    &::-webkit-scrollbar-thumb {
        background: linear-gradient(90deg, #00000000 0%, #00000000 30%,$color4 30.1%, $color4 70%,#00000000 70.1%, #00000000 100%);
        border-radius: 40%;
    }
}


.listaCapitulos div {
    justify-content: space-between;
    font-size: $fontZise2;
    padding-bottom: 16px;
    border-bottom: 3px solid $color4;
    margin-bottom: 16px;
}

// ========= PaginationCapitulos =========
.PaginationCapitulos {
    margin-top: 31px;
    button {
        @extend .volverButton;
        margin-right: 10px;
        font-weight: 600;
        padding: 5px 8px;
    }
}

// ############# Section - TomosManga #############
.TomosManga {
    width: 67%;
    margin: auto;
    h3 {
        font-size: $fontZise4;
        font-weight: 700;
        line-height: 39px;
        color: $color3;
        margin-bottom: 31px;
    }
}

.TomoContManga {
    .infoPrinc {
        margin: 18px 12px 0 12px;
        font-size: $fontZise3;
        font-weight: 700;
        line-height: 29px;
    }
    .infoDesc {
        font-size: 16px;
        line-height: 19px;
        margin: 19px 12px 25px 12px;
    }
    .botonesTomoContManga {
        margin: 0 12px;
        display: flex;
        justify-content: space-between;
        font-size: $fontZise2;
        button, a {
            @extend .volverButton; 
            &:focus {background-color: $color4;}
        }
    }
}
 
.carouselTomosMangaButtons button{
    background-color: $color1;
    color: $color4;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    img {transform: rotate(90deg);}
}

.carousel-control-prev {
    left: -60px;
    top: 160px;
    justify-content: start;
}
.carousel-control-next {
    justify-content: end;
    top: 160px;
    right: -60px;
}