@model Manga.Models.Usuario

@{
    ViewData["Title"] = "Create";
    //var Foto = "~/media/perfil" + (Model.Foto ?? "default.jpeg");
}

<h1>Create</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Correo Electronico</label>
                <input asp-for="Email" type="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario1" class="control-label">Usuario</label>
                <input asp-for="Usuario1" class="form-control" />
                <span asp-validation-for="Usuario1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cClave" class="control-label">Contraseña</label>
                <input asp-for="cClave" type="password" class="form-control" />
                <span asp-validation-for="cClave" class="text-danger"></span>
            </div>
                <div class="form-group">
                <label asp-for="Clave" class="control-label">Confirmar Contraseña</label>
                <input asp-for="Clave" type="password" class="form-control" />
                <span asp-validation-for="Clave" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto" class="control-label"></label>
                <input asp-for="Foto" accept="image/*" type="file" class="form-control custom-file-input"/>
                <span asp-validation-for="Foto" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function ()) {
            $('.custom-file-input').on("change", function()){
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        });
    </script>
    }
}
