@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
*, p, ul, h3 {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #350101;
  font-family: 'Inter', sans-serif;
  color: white;
}

header::before {
  content: "";
  width: 100%;
  height: 580px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: -2;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.Encabezado {
  width: 85%;
  height: 95px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logoHeader svg:nth-child(1) {
  margin: 0 12px 4px 0;
}

.Navegador ul {
  margin: 0px;
  list-style: none;
}

.Navegador ul li {
  margin: 0 52px 0 0;
}

.Navegador ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 15px;
}

.Navegador ul li a img {
  margin-bottom: 5px;
}

.FormularioBusqueda input {
  border-radius: 13px;
  padding: 5px 10px;
  border-style: none;
  height: 48px;
  width: 318px;
  margin: 0 40px 0 10px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ec4c04), to(rgba(255, 88, 0, 0)));
  background-image: linear-gradient(360deg, #ec4c04 0%, rgba(255, 88, 0, 0) 100%);
}

.Perfil {
  position: absolute;
  right: 50px;
  top: 11px;
}

.Perfil img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: 5px solid #04CC00;
}

.contenedorTendencia, .carouselTendeciaButtons {
  width: 60%;
  margin: auto;
}

.Tendencia {
  font-size: 20px;
}

.Tendencia h2 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 35px 0 15px 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  color: #44ff40;
}

.imagenTendencia img {
  height: 292px;
  margin-right: 25px;
}

.Tendencia h3 {
  font-size: 20px;
}

.tipoManga, .generos li {
  background-color: white;
  padding: 5px 10px;
  border-radius: 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #04CC00;
}

.generos {
  padding: 0;
  list-style: none;
}

.generos li {
  margin-right: 10px;
}

.carouselTendeciaButtons {
  margin-bottom: 20px;
  margin-top: 20px;
  padding-left: 4%;
}

.carouselTendeciaButtons button {
  background-color: #04CC00;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 0;
  margin-right: 10px;
}

.carouselTendeciaButtons button span {
  height: 16px;
}

.UltimosAgregados {
  padding-top: 20px;
  background-color: #350101;
  padding-bottom: 40px;
}

.UltimosAgregados .carouselTendeciaButtons {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 0;
  margin-top: -5px;
}

.listaAgregados {
  width: 90%;
  margin: auto;
}

.listaAgregados h2 {
  margin: 40px 0 20px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: #44ff40;
}

.serieAgregada {
  margin-bottom: 30px;
}

.serieAgregada, .serieAgregada h3 {
  font-size: 20px;
  line-height: 24px;
}

.serieAgregadaImg {
  min-height: 292px;
  min-width: 202px;
  background-image: url(../media/serie/two_exoscirst.jpg);
  background-size: cover;
  background-position: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.serieAgregadaImg img {
  margin: 0 10px 10px 0;
}

.serieAgregadaDatos {
  margin-left: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.serieAgregadaDatos h3, .serieAgregadaDatos .serieAgregadaNota {
  margin-bottom: 10px;
}

.serieAgregadaDatos span {
  position: relative;
  top: -20px;
  right: -180px;
}

.serieAgregadaDescpricion p {
  overflow: hidden;
  max-height: 140px;
}
/*# sourceMappingURL=style.css.map */